body {
  padding: 30px;
  font-family: sans-serif;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.statusbox {
  position:fixed;
  top:0;
  right:0;
  width: 120px;
  background-color: cornsilk;
  padding: 10px;
}

.imagebox {

}

.imagebox img {
  max-width: 600px;
  max-height: 400px;
  object-fit: contain;
}

.nameform, .gameform {
  display: inline-block;
  width: 200px;
}

.leaderboard {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 200px;
  padding: 50px;
  background-color: lightcyan;
}

.voting-panel {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.voting-panel button {
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

ul {
  list-style: none;
}