body {
  padding: 30px;
  font-family: sans-serif;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.statusbox {
  position:fixed;
  top:0;
  right:0;
  width: 120px;
  background-color: cornsilk;
  padding: 10px;
}

.imagebox {

}

.imagebox img {
  max-width: 600px;
  max-height: 400px;
  object-fit: contain;
}

.nameform, .gameform {
  display: inline-block;
  width: 200px;
}

.leaderboard {
  position: fixed;
  right: 0;
  top: 0;
  min-width: 110px;
  max-width: 200px;
  padding: 10px;
  background-color: lightcyan;
  text-align: left;
  border-bottom-left-radius: 10px;
}

.voting-panel {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.voting-panel button {
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transition: all 0.5s ease;
  border: 3px dotted black;
  padding: 4px;
  margin-top: 8px;
  font-size: 14pt;
  padding: 10px;
}

.voting-panel button:hover :not(:disabled) {
  transition: all 0.5s ease;
  border-color: lightgreen;
  color: green;
}

ul {
  list-style: none;
}

.header {
  color: darkolivegreen;
  vertical-align: text-bottom;
}

.about {
  font-size: 8px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 150px;
  text-align: left;
}

.about:not(:hover) a {

}

.warning-panel {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  z-index: 100;

  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

.warning-panel.error {
  background-color: darkred;
  color: white;
}

.warning-panel.info {
  color: gray;
}

.warning-panel.warning {
  background-color: #ffb733;
}


@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.nobreak {
  white-space: nowrap;
}